* {
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 10px;
    height: 100vh;
    font-family: "main";
    color: white;
    overflow-x: hidden;
}

#main {
    margin: 10px;
}

.background-blur {
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 110%; /* Adjusted width to 110% */
    height: 120%; /* Adjusted height to 110% */
    background-image: url('/public/img/hub2.png'); /* Replace with your image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    filter: blur(8px); /* Blur effect */
    margin-left: -5%; /* Negative margin to adjust position */
    margin-top: -5%; /* Negative margin to adjust position */
    z-index: -1; /* Send behind other content */
}

.content {
    position: relative; /* Relative position to keep it above blurred background */
    z-index: 1; /* Ensure content is above the background */
    color: white; /* Text color for better visibility */
    text-align: center;
    padding: 20px;
    background-color: #33333388;
}

@font-face {
    font-family: "main";
    src: url("./font/main.otf");
}
#username {
    width: 300px;
    font-family: "main";
    color: white;
    background: #757575;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
    border-top: 2px solid #c6c6c6;
    border-right: 2px solid #757575;
    border-bottom: 2px solid #757575;
    border-left: 2px solid #c6c6c6;
    outline: none;
}

#result {
    margin-top: 20px;
}
button {
    font-family: "main";
    color: white;
    background: #757575;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
    border-top: 2px solid #c6c6c6;
    border-right: 2px solid #757575;
    border-bottom: 2px solid #757575;
    border-left: 2px solid #c6c6c6;
}
select {
    font-family: "main";
    color: white;
    background: #757575;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
    border-top: 2px solid #c6c6c6;
    border-right: 2px solid #757575;
    border-bottom: 2px solid #757575;
    border-left: 2px solid #c6c6c6;
}
button:hover {
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
}

.black {
    color: #000000;
}
.darkblue {
  	color: #0000AA;
}
.darkgreen {
    color: #00AA00;
}
.darkaqua {
    color: #00AAAA;
}
.darkred {
    color: #AA0000;
}
.darkpurple {
    color: #AA00AA;
}
.gold {
    color: #FFAA00;
}
.gray {
    color: 	#AAAAAA;
}
.darkgray {
    color: #555555;
}
.blue {
  	color: #5555FF;
}
.green {
    color: #55FF55;
}
.aqua {
    color: #55FFFF;
}
.red {
    color: #FF5555;
}
.purple {
    color: #FF55FF;
}
.yellow {
    color: #FFFF55;
}
.white {
    color: 	#FFFFFF;
}

.tooltipDiv {
    color: white;
    min-height: 1em;
    padding: 7px;
    background-color: rgba(22,8,23,255);
    margin: 12px;
    box-shadow:
        /* Right & bottom */
        2px 0 #210454,
        4px 0 black,
        0 2px #210454,
        0 4px black,
        /* Left & top */
        -2px 0 #210454,
        -4px 0 black,
        0 -2px #210454,
        0 -4px black,
        /* Corner right bottom */
        2px 2px black,
        /* Corner top right */
        2px -2px black,
        /* Corner top left */
        -2px -2px black,
        /* Corner bottom left */
        -2px 2px black;
}
.inventory-slot {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px inset #333333;
    border-top: 2px inset #333333;
    background-color:#888;
    cursor: pointer;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
}
.inventory-slot:hover {
    background-color: #e0e0e0;
}
