* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "main";
    color: white;
    background-image: url("./img/hub2.png");
}

@font-face {
    font-family: "main";
    src: url("./font/main.otf");
}
#usernameInput {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

#result {
    margin-top: 20px;
}

#uuid {
    font-weight: bold;
}

#skin {
    margin-top: 10px;
    width: 64px;
    height: 128px;
}

.imgbox {
    display: grid;
    height: 100%;
}
#background {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.container {
    position: fixed;
    padding: 20px;
}
