body {
    margin: 0;
    height: 100vh;
    font-family: "main";
    color: white;
}

.background-blur {
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 110%; /* Adjusted width to 110% */
    height: 120%; /* Adjusted height to 110% */
    background-image: url('/public/img/hub2.png'); /* Replace with your image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    filter: blur(8px); /* Blur effect */
    margin-left: -5%; /* Negative margin to adjust position */
    margin-top: -5%; /* Negative margin to adjust position */
    z-index: -1; /* Send behind other content */
}

.content {
    position: relative; /* Relative position to keep it above blurred background */
    z-index: 1; /* Ensure content is above the background */
    color: white; /* Text color for better visibility */
    text-align: center;
    padding: 20px;
}

@font-face {
    font-family: "main";
    src: url("./font/main.otf");
}
#usernameInput {
    width: 300px;
    padding: 10px;
    margin: 10px;
    font-family: "main";
    color: white;
    background: #050555;
}

#result {
    margin-top: 20px;
}
button {
    font-family: "main";
    color: white;
    background: #757575;
    padding: 20px;
    box-shadow:
    /* Right & bottom */
    4px 0 #555,
    6px 0 black,
    0 4px #555,
    0 6px black,
    /* Left & top */
    -4px 0 white,
    -6px 0 black,
    0 -4px white,
    0 -6px black,
    /* Corner right bottom */
    4px 2px #555,
    2px 4px #555,
    2px 6px black,
    6px 2px black,
    4px 4px black,
    /* Corner top right */
    2px -2px #C6C6C6,
    4px -2px black,
    2px -4px black,
    /* Corner top left */
    -4px -2px white,
    -2px -4px white,
    -2px -6px black,
    -6px -2px black,
    -4px -4px black,
    /* Corner bottom left */
    -2px 2px #C6C6C6,
    -4px 2px black,
    -2px 4px black;
}
#fetch-btn {
    font-family: "main";
    color: white;
    background: #050555;
}
